{
  "type": "docker",
  "resourceType": "NixDockerServer",
  "serialNumber": "{{ data.node }}",
  "deviceVersion": "{{ data.dockerVersion }}, build {{data.dockerBuild}}",
  "swImage": "{{ data.kernel }}",
  "swType": "{{ data.processor }}",
  "swVersion": "{{ data.release }}"
}
